recursive-include isomorphic/static *
recursive-include isomorphic/templates *
recursive-include isomorphic/javascript *
include README.md
include setup.cfg
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude isomorphic/javascript/node_modules *
