recursive-include django_isomorphic/static *
recursive-include django_isomorphic/templates *
recursive-include javascript *
include README.md
include setup.cfg
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
